<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:blueviolet" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="listcemeteries">Cemeteries</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="index">Angular</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
          Social Logins
        </a>
        <ul ngbDropdownMenu class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item bg-dark text-white" routerLink="login/facebook">Login with Facebook</a></li>
          <li><a class="dropdown-item bg-dark text-white" routerLink="login/github">Login with Github</a></li>
          <div class="dropdown-divider bg-dark text-white"></div>
          <li><a class="dropdown-item bg-dark text-white" routerLink="about">About</a></li>
        </ul>
      </li>
    </ul>
<!--
    <div class="navbar-nav" th:if="${#httpServletRequest.remoteUser != null}">
      <ul class="navbar-nav">
        <li class="navbar-text">Logged in as: <span id="user"></span></li>
        <li class="nav-item col-auto"><button class="btn btn-danger" onClick="logout();location.reload();">Logout</button></li>
      </ul>
    </div>
    <div class="navbar-nav" th:if="${#httpServletRequest.remoteUser == null}">
      <ul class="navbar-nav">
        <li class="nav-item"><p class="btn btn-info"> Not Logged In</p></li>
      </ul>
    </div>
    -->
  </div>
</nav>
<section>
  {{title}}
</section>
