<p>
  cemetery works!
</p>
<header>{{cemetery.name}}</header>
<section id="details">
    <div>
      <p>{{cemetery.id}}</p>
      <p>{{cemetery.name}}</p>
      <p>{{cemetery.city}}</p>
      <p>{{cemetery._links.self.href}}</p>
      <p>{{cemetery._links.cemetery.href}}</p>
      <p>{{cemetery._links.graves.href}}</p>
      <a routerLink="{{cemetery.id}}/graves">
        <span>{{cemetery.id}}/graves</span>
      </a>
      <a href="{{cemetery._links.graves.href}}">
        <span>{{cemetery._links.graves.href}}</span>
      </a>
      <app-graves [selectedCemetery]="cemetery"></app-graves>
    </div>
</section>


<!--
<section id="image">
  <div [style.background-image]="'url(' + meme.url + ')'"
       [style.width.px]="meme.width/4"
       [style.height.px]="meme.height/4"></div>
</section>-->
