<section id="details">
    <div><h3>{{cemetery.id}} {{cemetery.name}} {{cemetery.city}} {{cemetery.street}}</h3></div>

    <p>{{cemetery._links.self.href}}</p>
    <p>{{cemetery._links.cemetery.href}}</p>
    <p>{{cemetery._links.graves.href}}</p>
    <a routerLink="{{cemetery.id}}/graves">
      <span>{{cemetery.id}}/graves</span>
    </a>
    <a href="{{cemetery._links.graves.href}}">
      <span>{{cemetery._links.graves.href}}</span>
    </a>
    <app-graves [selectedCemetery]="cemetery"></app-graves>
    <br/>
</section>
